<a href="https://colab.research.google.com/github/sahikacelenk/PythonBootcamp_FinalProjects/blob/main/Project1_GradeSystem_son.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Math Class - Student Info and Grades:
ðŸ““
## There are explanations about code blocks, so there is no extra documentation for the project.
---

Points | Grade
--- | ---
80 - 100 | A
66 - 79 | B
51 - 65 | C
26 - 50 | D
0 - 25 | F

In [ ]:
#Importing the library:
import pandas as pd

In [ ]:
#Creating empty lists for students' information and determining number of students
name = []
surname = []
school_nr = []
points = []

nr_of_students = 2  # this number can be changed according to the total student number. we wrote 2 to try the code quickly.

In [ ]:
#Creating a function to enter every student's information and to update the lists

def students_list():
  for i in range(nr_of_students):
    new_name = input("Student Name: ")
    name.append(new_name)
    new_surname = input("Student Surname: ")
    surname.append(new_surname)
    new_school_nr = input("School Number: ")
    school_nr.append(new_school_nr)
    new_points = int(input("Student Score: "))
    points.append(new_points)

students_list()

Student Name: ÅŸahika
Student Surname: Ã§elenk
School Number: 546
Student Score: 23
Student Name: jason
Student Surname: winter
School Number: 945
Student Score: 87

In [ ]:
#Creating a dictionary from updated information lists and turning it to a dataframe

school_dict = {"Name": name,
               "Surname": surname,
               "School_Number": school_nr,
               "Points": points}

school_df = pd.DataFrame(school_dict)
school_df.head()

     Name Surname School_Number  Points
0  ÅŸahika  Ã§elenk           546      23
1   jason  winter           945      87

In [ ]:
#Creating second function for grading students' exam scores and creating a new column for these grades

def points_to_grade(Points):
  if int(Points) >= 80:
    return 'A'
  elif int(Points) >= 66:
    return 'B'
  elif int(Points) >= 51:
    return 'C'
  elif int(Points) >= 26:
    return 'D'
  else:
    return 'F'

school_df["Grade"] = school_df["Points"].apply(points_to_grade)

school_df.head()

     Name Surname School_Number  Points Grade
0  ÅŸahika  Ã§elenk           546      23     F
1   jason  winter           945      87     A

In [ ]:
#According to the Grades, creating a new column for "Passed/Failed" information

school_df.loc[school_df["Grade"] == "A", "Situation"] = "Passed"
school_df.loc[school_df["Grade"] == "B", "Situation"] = "Passed"
school_df.loc[school_df["Grade"] == "C", "Situation"] = "Passed"
school_df.loc[school_df["Grade"] == "D", "Situation"] = "Passed"
school_df.loc[school_df["Grade"] == "F", "Situation"] = "Failed"

school_df.head()

     Name Surname School_Number  Points Grade Situation
0  ÅŸahika  Ã§elenk           546      23     F    Failed
1   jason  winter           945      87     A    Passed

In [ ]:
#Turning the dataframe into a csv file without index numbers

school_df.to_csv(r'C:\Users\musae\Downloads\school_data.csv', index=False)